﻿@page "/"



@*<h5>index</h5>*@

<AuthorizeView>
    <Authorized>
        <autoresetweb.Pages.Dashboard></autoresetweb.Pages.Dashboard>
    </Authorized>
    <NotAuthorized>
        <autoresetweb.Pages.Login> </autoresetweb.Pages.Login>
    </NotAuthorized>
</AuthorizeView>


@*<autoresetweb.Pages.Login> </autoresetweb.Pages.Login>*@