﻿
<Row Class="LoginPage">
    <Column ColumnSize="ColumnSize.Is3.OnDesktop.Is1.OnTablet"></Column>
    <Column ColumnSize="ColumnSize.Is5.OnDesktop.Is10.OnTablet">
        <Card Margin="Margin.IsAuto.FromBottom" Style="margin-top:60px;text-align: center;">
            <CardHeader>
                <img src="/css/DIDLogo2.png" />
                @* <Icon Name="IconName.Unlock" IconSize="IconSize.Default" /> <CardTitle>Login</CardTitle>*@
            </CardHeader>
            <CardBody>
                <form action="/cookie" method="post">
                    <Field style="margin-top: 15px;margin-bottom: 20px;">
                        <FieldLabel ColumnSize="ColumnSize.Is3.OnDesktop.Is6.OnTablet">Login</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is9.OnDesktop.Is6.OnTablet">
                            <input type="text" name="name" />
                        </FieldBody>

                    </Field>
                    <Field>
                        <FieldLabel ColumnSize="ColumnSize.Is3.OnDesktop.Is6.OnTablet">Password</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is9.OnDesktop.Is6.OnTablet">
                            <input type="password" name="password" />
                        </FieldBody>

                    </Field>
                    <Field>
                        <input type="submit" value="login" class="btn btn-primary" style="padding-left:60px !important;padding-right:60px !important;margin-top: 15px;height: 35px;" />

                    </Field>
      


                </form>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is3.OnDesktop.Is1.OnTablet"></Column>
</Row>
@*<form action="/cookie" method="post">
    login <input type="text" name="name" />
    password <input type="password" name="password" />
    <input type="submit" value="login"/>
</form>*@
