﻿@page "/taskCRUD"
<AuthorizeView>
    <Authorized>
        @*<h1>Hello @context.User.Claims.First().Value</h1>*@
        <autoresetweb.Components.TaskCRUD></autoresetweb.Components.TaskCRUD>
    </Authorized>
    <NotAuthorized>
        <autoresetweb.Pages.Login></autoresetweb.Pages.Login>
    </NotAuthorized>
</AuthorizeView>