﻿@inherits LayoutComponentBase

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <AuthorizeView>
                <Authorized>
                    @*<h1>Hello @context.User.Claims.First().Value</h1>*@
                    <MyMenu />
                </Authorized>
                <NotAuthorized>
                    <Div></Div>
                </NotAuthorized>
            </AuthorizeView>
            
           @* @if (@GlobalData.logined)
            {
                <MyMenu />
            }*@
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>

        </LayoutHeader>

        <LayoutContent Padding="Padding.Is4.OnX">
            @Body
        </LayoutContent>
        <LayoutFooter>
            Copyright Worldhub Communication 
        </LayoutFooter>
    </Layout>
</Layout>

