﻿@using DB;
<Button Color="Color.Primary" Clicked="@(()=> { OnStartClicked(); })" >Start</Button>
<Button Color="Color.Primary" Clicked="@(()=> { OnStopClicked(); })" >Stop</Button>

<Card Margin="Margin.Is4.OnY">

    <CardBody>
        <label>@labeltext</label>

        <DataGrid TItem="ModelNextTasks"
                  Data="@dataModelsNextTask"
                  Editable="false"
                  ShowPager="true"
                  Sortable="true"
                  SortMode="DataGridSortMode.Multiple"
                  Filterable="true"
                  FilterMethod="DataGridFilterMethod.Contains"
                  UseInternalEditing="true"
                  CommandMode="DataGridCommandMode.Default"
                  Resizable="false"
                  Striped="true"
                  PageSize="40">
            <EmptyTemplate>No Record</EmptyTemplate>

            <DataGridColumns>
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.id)" Caption="ID" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.task_name)" Caption="TaskName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.invoke_time)" Caption="InVokeTime" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.diffValue)" Caption="DiffValue" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.displayCol_name)" Caption="DisplayName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.operator_name)" Caption="Operator" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.lastrun_time)" Caption="LastRunTime" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.nextrun_time)" Caption="NextRunTime" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.ifeveryday)" Caption="IfEveryday" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.meracol_name)" Caption="MeraColName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelNextTasks" Field="@nameof(ModelNextTasks.mera_value)" Caption="Meravalue" Sortable="true" Editable="false" Filterable="false" />
                
            </DataGridColumns>
        </DataGrid>



        <DataGrid TItem="ModelAllTasks"
                  Data="@dataModelsAllTask"
                  Editable="false"
                  ShowPager="true"
                  Sortable="true"
                  SortMode="DataGridSortMode.Multiple"
                  Filterable="true"
                  FilterMethod="DataGridFilterMethod.Contains"
                  UseInternalEditing="true"
                  CommandMode="DataGridCommandMode.Default"
                  Resizable="false"
                  Striped="true"
                  PageSize="40">
            <EmptyTemplate>No Record</EmptyTemplate>

            <DataGridColumns>
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.id)" Caption="ID" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.task_time)" Caption="TaskTime" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.displayCol_name)" Caption="ColName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.displayValue)" Caption="DisplayValue" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.operator_name)" Caption="Operator" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.lastrun_time)" Caption="LastRunTime" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.nextrun_time)" Caption="NextRunTime" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.lastrun_effectroutes)" Caption="LastRunEffectRoutes" Sortable="true" Editable="false" Filterable="false" />

            </DataGridColumns>
        </DataGrid>



    </CardBody>


</Card>

