﻿@using DB;

<Task_create OnClose="DlgClose_New2"  editmode="false" @ref="dlgCreateNew" />
<Task_create OnClose="DlgClose_Edit2"  editmode="true" @ref="dlgEdit" />


       <Card Margin="Margin.Is4.OnY">


                <CardHeader>
                    <CardTitle>with following information</CardTitle>
                </CardHeader>




        <DataGrid TItem="ModelAllTasks"
                  Data="@dataModelsAllTask"
                  Editable="false"
                  ShowPager="true"
                  Sortable="true"
                  SortMode="DataGridSortMode.Multiple"
                  Filterable="true"
                  FilterMethod="DataGridFilterMethod.Contains"
                  UseInternalEditing="true"
                  CommandMode="DataGridCommandMode.Default"
                  @bind-SelectedRow="@selectedTask"
                  Resizable="false"
                  Striped="true"
                  PageSize="40">
            <EmptyTemplate>No Record</EmptyTemplate>

            <DataGridColumns>
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.id)" Caption="ID" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.task_time)" Caption="TaskTime" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.displayCol_name)" Caption="ColName" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.operator_name)" Caption="Operator" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.lastrun_time)" Caption="LastRunTime" Sortable="true" Editable="false" Filterable="false" />
                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.nextrun_time)" Caption="NextRunTime" Sortable="true" Editable="false" Filterable="false" />

                <DataGridColumn TItem="ModelAllTasks" Field="@nameof(ModelAllTasks.lastrun_effectroutes)" Caption="LastRunEffectRoutes" Sortable="true" Editable="false" Filterable="false" />

            </DataGridColumns>
                    <ButtonRowTemplate>
                        <Button Color="Color.Success" Clicked="@(()=> { dlgCreateNew.ShowModal(); })">New</Button>
                        <Button Color="Color.Primary" Clicked="@(()=> { Edit();})">Edit</Button>
                        <Button Color="Color.Danger">Delete</Button>

                    </ButtonRowTemplate>

        </DataGrid>

@*
                <CardBody>
                    <Fields>
                        <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is12.OnDesktop">
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">name of task</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                <TextEdit @bind-Text="@task_name" Placeholder="Name of task" />
                            </FieldBody>
                        </Field>
                        <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is12.OnDesktop">
                           
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                                <ComboBox TValue="string" @onchange="OnConditionChanged">
                                    @foreach (var region in task_conditions)
                                    {
                                        <option value="@region"> @region</option>
                                    }
                                </ComboBox>

                                <ComboBox TValue="string">
                                    @foreach (var region in task_operators)
                                    {
                                        <option value="@region"> @region</option>
                                    }
                                </ComboBox>

                                <Select TValue="string">
                                  
                                </Select>

                            </FieldBody>
        

                        </Field>

                    </Fields>
                </CardBody>*@



            </Card>
