﻿<Modal @ref="modalRef">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>
                @if (!editmode)
                {
                    <Div>Create New Task</Div>
                }

                else
                {
                    <Div>Edit Existing Task</Div>
                }

            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Fields>
                <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is12.OnDesktop">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Task Name</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <TextEdit @bind-Text="@para_name" Placeholder="Name of Task" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is12.OnDesktop">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Prefix</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <TextEdit @bind-Text="@para_prefix" Placeholder="Prefix" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">Route Plan</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">

                          <DropdownList TItem="routeplan" TValue="string"
                                          Data="@routeplans"
                                          TextField="@((item)=>item.srouteplanname)"
                                          ValueField="@((item)=>item.srouteplanid)"
                                          @bind-SelectedValue="@selectedDropValue"
                                          Color="Color.Primary"
                                          MaxMenuHeight="200px">
                                Select Routeplan
                            </DropdownList>

                    </FieldBody>
                </Field>

                <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">Enable</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <Select @bind-SelectedValue="@para_yesno">
                            <SelectItem >yes</SelectItem>
                            <SelectItem >no</SelectItem>
        
                        </Select>
                    </FieldBody>
                </Field>

                <Field Horizontal="true" ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">Time</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is6.OnDesktop">
                        <TimePicker @ref="@timePicker" TValue="TimeSpan?" />
                        @*<Button Color="Color.Light" Clicked="@(()=>timePicker.ToggleAsync())">
                            <Icon Name="IconName.CalendarDay" />
                        </Button>*@
                    </FieldBody>
                </Field>

   


            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal"><Icon Name="IconName.Stop" IconStyle="IconStyle.Solid" /> Close</Button>
            @if (!editmode)
            {
                <Button Color="Color.Primary" Clicked="@ModalNewOk"> <Icon Name="IconName.Check" IconStyle="IconStyle.Solid" /> Create</Button>

            }
            else
            {
                <Button Color="Color.Primary" Clicked="@ModalEditOk"> <Icon Name="IconName.Save" IconStyle="IconStyle.Solid" /> Update</Button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>